{% extends 'layout.html.twig' %}
{% block core %}
    <section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-7 col-xs-12">
                <div class="product-gallery">
                    <div class="product-gallery-content">
                        <ul class="product-gallery-preview">
                            <li id="preview01" class="current">
                                <img src={{ asset('uploads/images/' ~ produit.image) }} alt="Product" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12">
                <div class="product-info">
                    <h1 class="product-title">{{ produit.nom }}</h1>
                    <div class="price">
                        <span>${{ produit.prix }}</span>

                    </div>
                    <p>{{ produit.description }}
                    </p>

                    <div class="add-cart">

                        <a href={{  path('shopping_basket_add',{'id':produit.id }) }}class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a>
                    </div>

                    <div class="product-meta">
                        <div class="product-category">
                            Category:
                        </div>
                    </div>
                    <div class="share">
                        <span>Share: </span>
                        <ul class="list-inline">
                            <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- REVIEW SECTION -->
    <section class="product-review clearfix">
        <div class="container">

            <div class="tabCommon">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1">Details</a></li>

                </ul>

                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active">
                        <div class="media">
                            <h3>Product Description</h3>
                            <p>{{ produit.description }}</p>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}