{% extends 'layout.html.twig' %}
{%block core%}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Mes Reclamation</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="mainContent full-width clearfix">
        <div class="container">
            <div class="sectionTitle text-center">
                <h2>
                    <span class="shape shape-left bg-color-4"></span>
                    <span>Consulter Reclamation</span>
                    <span class="shape shape-right bg-color-4"></span>
                </h2>
            </div>
            <div class="tabCommon alerts">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#alert-1" data-toggle="tab" aria-expanded="true">Reclamation</a></li>
                    <li class=""><a href="#alert-2" data-toggle="tab" aria-expanded="false">En cours</a></li>
                    <li class=""><a href="#alert-3" data-toggle="tab" aria-expanded="false">Triater </a></li>
                </ul>
                <div class="tab-content">
                </div>
            </div>
        </div>
    </section>

    <div class="tab-content">
        <!-- Alert Messages -->
        <div class="tab-pane fade active in" id="alert-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3" style="background-color: yellow">
                        Titre
                    </div>
                    <div class="col-xs-12 col-sm-3"  style="background-color: #b8daff">
                        Sujet
                    </div>
                    <div class="col-xs-12 col-sm-3"  style="background-color: #b5d56a">
                        Supprimer
                    </div>

                    <div class="col-xs-12 col-sm-3" style="background-color: aquamarine">
                        Modifier
                    </div>
                    {% for reclamtion in reclamtions %}
                        <div class="col-xs-12 col-sm-3 " style="background-color: yellow">
                            {{ reclamtion.sujet }}
                        </div>
                        <div class="col-xs-12 col-sm-3" style="background-color: #b8daff">
                            {{ reclamtion.shortDescr }}
                        </div>
                        <div class="col-xs-12 col-sm-3" style="background-color: #b5d56a">
                            <a href="{{ path('DeleteR', {'id':reclamtion.id}) }}">Supprimer</a>
                        </div>
                        <div class="col-xs-12 col-sm-3" style="background-color: aquamarine">
                            <a href="{{ path('UpdateR', {'id':reclamtion.id}) }}">Modiffier</a>
                        </div>
                    {% endfor %}
                    <a href="{{ path('RechercheR') }}">Effectuer une Recherche</a>
                </div>
            </div>
        </div>







        <!-- End Alert Messages -->

        <!-- Dismissable Alerts -->
        <div class="tab-pane fade" id="alert-2">
            <center>
                <div class="container">
                    <center>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3" style="background-color: yellow" >
                                Titre
                            </div>

                            <div class="col-xs-12 col-sm-3"  style="background-color: #b8daff">
                                Sujet
                            </div>
                            <div class="col-xs-12 col-sm-3"  style="background-color:#b5d56a">
                                Supprimer
                            </div>
                        </div>
                            {% for reclamtion in reclamationEnCours %}
                                <div class="col-xs-12 col-sm-3 " style="background-color: yellow">
                                    {{ reclamtion.sujet }}
                                </div>
                                <div class="col-xs-12 col-sm-3" style="background-color: #b8daff">
                                    {{ reclamtion.shortDescr}}
                                </div>  <div class="col-xs-12 col-sm-3" style="background-color: #b5d56a">
                                <a href="{{ path('DeleteR', {'id':reclamtion.id}) }}">Supprimer</a>
                            </div>
                            {% endfor %}
                        <div class="container" align="center" style="margin: 10%" coul>
                        </div>
                    </center>
                </div>
            </center>
        </div>




        <!-- End Dismissable Alerts -->

        <!-- Links in Alerts -->
        <div class="tab-pane fade" id="alert-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3" style="background-color: yellow">
                        Titre
                      </div>
                       <div class="col-xs-12 col-sm-3 " style="background-color: #b8daff">
                        Sujet
                         </div>
                        <div class="col-xs-12 col-sm-3"  style="background-color: #b5d56a">
                        Supprimer
                         </div>
                </div>
                    {% for reclamation in reclamationtraiters %}
                         <div class="col-xs-12 col-sm-3 " style="background-color: yellow">
                            {{ reclamation.sujet}}
                          </div>
                         <div class="col-xs-12 col-sm-3" style="background-color: #b8daff">
                            {{ reclamation.shortDescr }}
                         </div>
                          <div class="col-xs-12 col-sm-3" style="background-color: #b5d56a">
                            <a href="{{ path('DeleteR', {'id':reclamation.id}) }}">Supprimer</a>
                           </div>

                    {% endfor %}
            </div>
        </div>


        <!-- Links in Alerts -->
    </div>
    <div class="container" align="center" style="margin: 10%" coul>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

    </div>
    {%  if app.user %}
        {% set bool= 0 %}
        {% for  m  in message  %}
            {% set bool= 1 %}
        {% endfor %}
       {%  if bool == 1 %}
           <script>
               $(document).ready(function() {
                   toastr.info('Bonjour M, Vous aves recu des messages ');
               });
           </script>
       {% endif %}
    {% endif %}
{% endblock %}
